/* teacherli */
.good_teacher{
  background: #fff;
  overflow: hidden;
}
.top_left{
  padding-left: 30rpx;
}
.goods_list{
  overflow: hidden;
}
.goods_list_a{
  padding: 30rpx;
  /* margin-bottom: 30rpx; */
  /* margin-top: 30rpx; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.goods_list_img{
  width: 160rpx;
  height: 210rpx;
  overflow: hidden;
  border-radius:8rpx;
  margin-right: 30rpx;
  background:#f6f6f6;
}
.goods_list_img image{
  height: 210rpx;
  width: 210rpx;
  margin-left: -25rpx;
}
.good_con{
  font-size: 22rpx;
  color: #AAAAAA;
  width: 68%;
}
.good_con view{
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.good_title{
  font-weight: bold;
  font-size: 30rpx;
  color: #4c4c4c;
  line-height: 60rpx;
}
.good_sign{
  font-size: 24rpx;
  color: #666666;
  line-height: 40rpx;
}
.good_price{
  font-size: 26rpx;
  color: #4c4c4c;
  margin-top: 30rpx;
}
.course_more{
  font-size: 0.26rpx;
  color: #999 !important;
}
.pricecolor{
  color: #FF7A2E;
}
.fl{
  float:left;
}
.novip{
  font-size: 20rpx;
  color: #999999;
  font-weight: normal;
  border: 1rpx solid #D8D8D8;
  border-radius: 2rpx;
  margin-left: 19rpx;
  padding: 4rpx 10rpx;
}
